* {
  box-sizing: border-box;
}

.wrapper {
  width: 100vw;
  height: 100vh;
  padding: 0;
  margin: 0 auto;
  font-family: serif;
  background-color: #ffffff;
}

/* フェードイン対応 */
@keyframes fadeIn {
  0% {opacity: 0}
  100% {opacity: 1}
}
@-webkit-keyframes fadeIn {
  0% {opacity: 0}
  100% {opacity: 1}
}


/* /* ↓↓index.html用 */
.menu {
  position: fixed;
  top: -350px;
}
/* Menu画面 */
.mainLogo {
  margin: 0 auto;
  height: 1050px;
  margin-top: -60px;
  padding: 20px 100px 40px;
  position: relative;
  /* animation: fadeIn 2s ease 0s 1 normal;
    -webkit-animation: fadeIn 2s ease 0s 1 normal; */
  background-color: #ffffff;
}
.pcLogo {
  width: -webkit-fill-available;
  max-width: 100%;
}
.phoneLogo {
  display: none;
}
.mainLogo p {
  position: absolute;
  /* box-shadow: inset 0 -25px 0px 0px #FFD5EC; */
  animation: fadeIn 6s ease 0s 1 normal;
    -webkit-animation: fadeIn 6s ease 0s 1 normal;
}
.topTitle {
  top: 110px;
  left: 440px;
  font-size: 2rem;
  transform: translate(0, 45px);
  transition: all 30ms;
}
.bottomTitle {
  top: 170px;
  left: 600px;
  font-size: 1.9rem;
  transform: translate(0, 45px);
  transition: all 300ms;
}
.mainLogo a {
  letter-spacing: 3px;
  position: fixed;
  text-decoration: none;
  color: #000;
  z-index: 99;
  font-family: arial unicode ms;
  /* animation: fadeIn 1s ease 0s 1 normal;
    -webkit-animation: fadeIn 1s ease 0s 1 normal; */
}
.titleMenu {
  top: 20px;
  right: 230px;
  font-size: 0.9rem;
}
.titleAbout {
  top: 60px;
  right: 230px;
  font-size: 0.9rem;
}
.titleOur {
  top: 100px;
  right: 230px;
  font-size: 0.9rem;
}
.titleMenu:before {
  position: absolute;
  top: 1.3em;
  right: 0;
  content: "";
  display: inline-block;
  width: 0;
  height: 3px;
  background: #FFD5EC;
  transition: 0.7s;
}
.titleAbout:before {
  position: absolute;
  top: 1.3em;
  right: 0;
  content: "";
  display: inline-block;
  width: 0;
  height: 3px;
  background: #FFD5EC;
  transition: 0.7s;
}
.titleOur:before {
  position: absolute;
  top: 1.3em;
  right: 0;
  content: "";
  display: inline-block;
  width: 0;
  height: 3px;
  background: #FFD5EC;
  transition: 0.7s;
}
.titleMenu:hover:before{
  width: 100%;
}
.titleAbout:hover:before{
  width: 100%;
}
.titleOur:hover:before{
  width: 100%;
}

/* MainTitle */
.titleContent {
  margin: 0 auto;
  text-align: center;
}
.titleContentMain {
  font-size: 8rem;
  display: block;
}
.titleContentSub {
  font-size: 2rem;
  margin-top: -25px;
  display: block;
}
.spaceTitleHand {
  padding-right: 40px;
}
.spaceTitle {
  padding: 0 40px;
}
.spaceTitlePre {
  padding-left: 40px;
}


/* About画面 */
.aboutContent {
  margin: 0 auto;
  padding: 140px 80px;
  text-align: center;
  max-width: 100%;
  min-height: 100vh;
  position: relative;
  background-color: #ffffff;
}
/* .aboutContent.data-delighter {
  transition: all .3s ease-out;
      transform: translateX(-100%);
      opacity: 0;
}
.aboutContent.delighter.started {
      transform: none;
      opacity: 1;
}
.aboutContent.delighter.started.ended {
  border: solid red 10px;
}
options = {
    attribute:  'data-delighter',
    classNames: ['delighter', 'started', 'ended'],
    start:      0.75, // default start threshold
    end:        0.75, // default end threshold
    autoInit:   true  // initialize when DOMContentLoaded
  } */

.titleab {
  padding: 30px 0;
  display: block;
  font-size: 1.1rem;
  font-family: arial unicode ms;
  letter-spacing: 3px;
}
.aboutBig {
  font-size: 4rem;
}
.aboutMid {
  font-size: 2rem;
  display: block;
}
.aboutCen {
  padding: 20px 0;
}
.aboutBottom {
  font-size: 1.8rem;
  line-height: 1.9;
}

/* Ourservice画面 */
.ourContent {
  margin: 0 auto;
  padding: 70px 80px;
  text-align: center;
  max-width: 100%;
  min-height: 100vh;
  background-color: #ffffff;
}
.titleou {
  padding: 60px 0;
  display: block;
  font-size: 1.1rem;
  font-family: arial unicode ms;
  letter-spacing: 3px;
}
.ourMid {
  font-size: 1.5rem;
  letter-spacing: 2px;
  line-height: 1.9;
}
.ourH2 {
  position: relative;
  right: 290px;
  font-size: 2rem;
  padding: 30px 0;
}
.ourUl {
  /* padding-left: 350px; */
  text-align: center;
}
#ourUlId .ourList {
  display: inline-block;
  text-align: left;
  line-height: 1.9;
  letter-spacing: 2.5px;
  font-size: 1.4rem;
}

/* Form画面 */
.formContent {
  margin: 0 auto;
  padding: 10px 80px;
  text-align: center;
  max-width: 100%;
  min-height: 300px;
  background-color: #ffffff;
}
.mailTitle {
  font-size: 2rem;
}
.mailForm {
  font-size: 1.3rem;
  padding-top: 40px
}
.footer {
  display: block;
  padding-top: 100px;
}
/* /* ↑↑index.html用 */


/*/* ↓↓レスポンシブ */
@media screen and (max-width : 1275px) {
  .mainLogo {
    padding: 10px 20px;
    height: 650px;
    margin-top: 0px;
  }
  .topTitle {
    top: 60px;
    left: 110px;
    font-size: 1.4rem;
  }
  .bottomTitle {
    top: 110px;
    left: 230px;
    font-size: 1.2rem;
  }
  .titleMenu {
    top: 20px;
    right: 120px;
    font-size: 0.7rem;
  }
  .titleAbout {
    top: 60px;
    right: 120px;
    font-size: 0.7rem;
  }
  .titleOur {
    top: 100px;
    right: 120px;
    font-size: 0.7rem;
  }

}
@media screen and (max-width : 768px) {
  .mainLogo {
    margin: 0 auto;
    height: auto;
    padding: 30px 10px 70px;
    position: relative;
    animation: fadeIn 1s ease 0s 1 normal;
      -webkit-animation: fadeIn 1s ease 0s 1 normal;
  }
  .pcLogo {
    display: none;
  }
  .phoneLogo {
    display: block;
    width: 360px;
    height: 700px;
    object-fit: cover;
  }
  .topTitle {
    top: 15px;
    left: 110px;
    font-size: 1.7rem;
    transform: translate(0, 45px);
    transition: all 30ms;
  }
  .bottomTitle {
    top: 60px;
    left: 170px;
    font-size: 1.5rem;
    transform: translate(0, 45px);
    transition: all 300ms;
  }
  .titleMenu {
    display: none;
  }
  .titleAbout {
    display: none;
  }
  .titleOur {
    display: none;
  }

  /* Title画面 */
  .titleContent {
    margin: 0 auto;
    margin-top: -15px;
  }
  .titleContentMain {
    font-size: 4.3rem;
  }
  .titleContentSub {
    font-size: 1.3rem;
  }
  .spaceTitleHand {
    padding-right: 20px;
  }
  .spaceTitle {
    padding: 0 20px;
  }
  .spaceTitlePre {
    padding-left: 20px;
  }

  /* about ourservice画面 */
  .titleab {
    /* left: 39%; */
  }
  .aboutContent {
    margin: 0 auto;
    padding: 140px 10px;
  }
  .aboutBottom {
    font-size: 1.3rem;
    line-height: 2.0;
  }

  .titleou {
    /* left: 32%; */
  }
  .ourContent {
    margin: 0 auto;
    padding: 70px 10px;
  }
  .ourH2 {
    position: relative;
    right: 0;
    font-size: 2rem;
    padding: 30px 0;
  }
  #ourUlId .ourList {
    display: inline-block;
    text-align: left;
    line-height: 1.9;
    letter-spacing: 1px;
    font-size: 1rem;
  }


  /*/* ↓↓ハンバーガーメニュー */
  .navHead {
    position: fixed;
    width: 40px;
    height: 40px;
    left: 15px;
    cursor: pointer;
    z-index: 97;
  }
  .nav_line {
    position: absolute;
    left: 10px;
    width: 25px;
    height: 1px;
    background-color: #333333;
    transition: all 0.3s;
  }
  .nav_line1 {
    top: 11px;
  }
  .nav_line2 {
    top: 21px;
  }
  .nav_line3 {
    top: 31px;
  }
  .clicked .nav_line1 {
    transform: rotate(45deg);
    top: 20px;
  }
  .clicked .nav_line2 {
    width: 0px;
  }
  .clicked .nav_line3 {
    transform: rotate(-45deg);
    top: 20px;
  }
  .menu {
    position: fixed;
    width: 100vw;
    height: 350px;
    left: 0;
    top: -350px;
    background-color: #FFD5EC;
    opacity: 1;
    transition: all 0.3s;
    z-index: 98;
  }
  .clicked .menu {
    top: 70px;
  }
  .menuList {
    color: #fff;
    line-height: 116px;
    font-size: 1.2rem;
    padding-left: 30px;
    border-bottom: 1px solid;
  }
  .menuLink {
    text-decoration: none;
  }

  /* ↑↑ハンバーガーメニュー */

}



/* ↑↑レスポンシブ */
